<div class="navbar">
  <img src="https://www.vittude.com/_next/image?url=%2Fstatic%2Fimages%2Flogo-vittude.svg&w=256&q=75" alt="">

  <ul class="navbar-items">
    <li><a href="/">Como funciona</a></li>
    <li><a href="/psicologos">Para voce</a></li>
    <li><a href="/psicologo">Para Psicologos</a></li>
    <li><a>Para empresas</a></li>
    <li><a>Blog</a></li>
    <li><a>Ola, visitante!</a></li>
  </ul>
</div>
