
<div class="home">

  <div class="home-text">
    <h2>Terapia online</h2>
    <h1>Seu psicólogo a qualquer hora, em qualquer lugar.</h1>
    <hr>
    <h3>Vamos lá, por onde você quer começar?</h3>
    <div class="btn-wrapper">
      <a href="">Ativar meu benefício corporativo</a>
      <a href="">Agendar consulta sem benefício</a>
    </div>
  </div>
  <img src="https://www.vittude.com/static/images/home/person-image.png" alt="">
</div>
