<div class="psicologo">
  <div class="psicologo-wrapper">
    <div>
      <p>Por que psicólogos experientes preferem a Vittude?</p>
      <a href="/psicologos/new">Quero atender na Vittude</a>
    </div>
    <img src="https://karenandrewspsychology.com/wp-content/uploads/2020/04/online-psychotherapy.jpg" alt="">
  </div>
</div>
